body {
    font-family: 'Courier New', Courier, monospace;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    margin-bottom: 10px;
}

h1,
h2 {
    text-align: center;
}